In [23]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error
from xgboost import XGBRegressor
import warnings

In [24]:
# importing the data
df=pd.read_csv('data/stud.csv')

In [25]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

Preparing X and Y variable

In [26]:
x=df.drop(columns=['math_score'],axis=1)

In [27]:
x.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [28]:
y=df['math_score']

In [29]:
#create column transform
num_features = x.select_dtypes(include='int').columns
cat_features=x.select_dtypes(exclude='int').columns

In [30]:
num_features,cat_features

(Index(['reading_score', 'writing_score'], dtype='object'),
 Index(['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch',
        'test_preparation_course'],
       dtype='object'))

In [31]:
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

In [32]:
cat_transformer=OneHotEncoder()
num_transformer=StandardScaler()

In [33]:
processing=ColumnTransformer(
    [
        ("OneHotEncoder",cat_transformer,cat_features),
        ("StandardScaler",num_transformer,num_features)
    ]
)

In [34]:
X=processing.fit_transform(x)

In [35]:
X.shape

(1000, 19)

In [36]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [37]:
X_train.shape,X_test.shape

((800, 19), (200, 19))

Creating an eveluating function

In [38]:
def evaluate_model(true,predict):
    mae=mean_absolute_error(true,predict)
    mse=mean_squared_error(true,predict)
    rmse=np.sqrt(mse)
    r_score=r2_score(true,predict)
    return mae,r_score,rmse

In [39]:
models= {
    'Linear Regression':LinearRegression(),
    'Decision Tree Regressor': DecisionTreeRegressor(),
    'Random Forest Regressor': RandomForestRegressor(),
    'Lasso': Lasso(),
    'Ridge':Ridge(),
    'XGBRegressor': XGBRegressor(),
    'AdaBoost Regressor':AdaBoostRegressor()


}

model_list=[]
r2_list=[]

for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    #make predictions
    y_train_predict=model.predict(X_train)
    y_test_predict=model.predict(X_test)

    model_train_mae , model_train_r2 , model_train_rmse = evaluate_model(y_train,y_train_predict)
    model_test_mae,model_test_r2,model_test_rmse=evaluate_model(y_test,y_test_predict)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)
    
    print('='*35)
    print('\n')

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 5.2815
- Mean Absolute Error: 4.2276
- R2 Score: 0.8789
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.5720
- Mean Absolute Error: 4.3948
- R2 Score: 0.8630
===================================


Decision Tree Regressor
Model performance for Training set
- Root Mean Squared Error: 0.0500
- Mean Absolute Error: 0.0025
- R2 Score: 1.0000
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 7.5369
- Mean Absolute Error: 6.1550
- R2 Score: 0.7493
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 2.2976
- Mean Absolute Error: 1.8256
- R2 Score: 0.9771
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.6760
- Mean Absolute Error: 4.6023
- R2 Score: 0.8578
===================================


Lasso
Model performance for Training set
- Root Mean Squared Error: 6.6102
- Mean Absolute Error: 5.1990
- R2 Score: 0.8104
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.7021
- Mean Absolute Error: 5.3566
- R2 Score: 0.8018
===================================


Ridge
Model performance for Training set
- Root Mean Squared Error: 5.2818
- Mean Absolute Error: 4.2268
- R2 Score: 0.8789
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.5674
- Mean Absolute Error: 4.3880
- R2 Score: 0.8632
===================================


XGBRegressor
Model performance for Training set
- Root Mean Squared Error: 0.8897
- Mean Absolute Error: 0.6205
- R2 Score: 0.9966
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.4130
- Mean Absolute Error: 5.0565
- R2 Score: 0.8185
===================================


AdaBoost Regressor
Model performance for Training set
- Root Mean Squared Error: 5.9164
- Mean Absolute Error: 4.8252
- R2 Score: 0.8481
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.4654
- Mean Absolute Error: 5.1000
- R2 Score: 0.8155
===================================

In [40]:
result=pd.DataFrame(list(zip(model_list,r2_list)),columns=['model_name','r2_score'])

In [41]:
result

                model_name  r2_score
0        Linear Regression  0.862990
1  Decision Tree Regressor  0.749318
2  Random Forest Regressor  0.857824
3                    Lasso  0.801773
4                    Ridge  0.863213
5             XGBRegressor  0.818506
6       AdaBoost Regressor  0.815526